<h1>This is the show twets view for a specific user!!!</h1>
  <div>    
    <p>Associated Titles: <% @profile.twets.order(:created_at).each do |twet| %>
     
      <li><%= twet.content %></li>
      <% end %>
    </p>    
</div>
