<div class="clearfix top-space small"></div>
<h1>This is the show view for Categories</h1>
  <div>    
    <p>Associated Titles: <% @twets.each do |twet| %>
      <li><%= twet.content %></li>
      <% end %>
    </p>    
</div>