<div class="clearfix top-space small"></div>
<div class="row">

  <%= render :partial => 'shared/left_nav' %>

  <div class="panel panel-default col-md-8 text-left">
    <div class="pull-left">
      <h4>Who to follow</h4>
      <p class="text-muted">Twetter accounts in alpabetical order.</p>
    </div>
    <div class="clearfix"></div>
    <hr />
    <ol class="list-unstyled">
      <% @users.each do |user| -%>
      <li>
        <%= content_tag :strong, user.name, :class => 'pull-left text-middle' %>
        <%= content_tag :span, "@"+user.username, :class => 'text-muted pad-10 text-middle' %>
        <%= follow_link(user) %>
        <div class="clearfix"></div>
      </li>
      <li><hr></li>
      <% end -%>
    </ol>
  </div>
</div>
